/*
    font-family: "Anton", cursive;
    font family: "Open Sans", sans-serif;

    Text color: #333;
    Dark blue: #345995;
    Light blue: #4392F1;
    Red: #D7263D;
    Yellow: #EAC435;
    Orange: #F46036;
    */

    body {
        margin:0;
        padding:0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        background-color: whitesmoke;
        color: #333;

    }

    h1, h2 {
        margin:0;
        padding:0;
        font-family: "Anton", cursive;
        font-weight: normal;
    } 

    h1 {
        font-size: 110px;
    }

    h2 {
        font-size: 30px;
    }

    .spacer.v20 {
        height: 20px;
    }

    .spacer.v40 {
        height: 40px;
    }

    .spacer.v80 {
        height: 80px;
    }

    .clear {
        clear: both;
    }

    #marketing {
        text-align: center;
        color: #fff;
        min-width: 1000px;
    }

    #marketing {
        background-color: #F46036;
    }

    #marketing > div {
    padding: 15px;
    }

    .wrap {
        margin: 0 auto;
        padding: 0;
        width: 1000px;
    }

    #TopMenu {
        height: 60px;
    }

    #TopLinks {
        float: right;
        padding-top: 20px;
    }

    #TopLinks ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #TopLinks li {
        float: left;
    }

    #TopLinks li a {
        color: #333;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        -webkit-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
    }

    #TopLinks li a:hover {
        color: #4392F1;
        -webkit-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        transition: all 250ms ease-out;

    }

    #TopMenu .logo {
        float: left;
        padding-top: 13px;
        font-size: 24px;
        color: #333;
        text-decoration: none;
    }

    #TomMenu .logo:hover {
        color: #4392F1;
    }

    .logo {
        font-family: "Anton", cursive;
    }

    .feature .LeftColumn {
        width: 50%;
        float: left;
        text-align: center;
    }

    .feature .RightColumn {
        margin-left: 50%;
        width: 50%;
        text-align: center;
    }


